body {
  margin: 0px;
}

.gallerycontainer {
  background: linear-gradient(90deg, rgb(106 82 205) 0%, rgb(98 149 223) 86%);
}

.gallery {
  padding: 20px;
  margin: auto 10px;
}

.title {
  text-align: center;
  font-size: 2.5em;
  color: #ffdaa9;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.container {
  font-size:  0px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  /* below code for responssive image content */
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: top center;

  /* below code for border design */
  border: solid 8px #ffffff;
  border-radius: 8px;
  box-shadow: 3px 6px 2px rgba(0, 0, 0, .3);
  margin: 8px;
}
